* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light {
  --color-header: #e0e0e0;
  --color-background: #eeeeee;
  --color-panel: #fafafa;
  --color-boton-default: #e0e0e0;
  --color-boton-default-hover: #bdbdbd;
  --color-text: #424242;
  --font-primary: 'Open Sans', sans-serif;
  --border-radius: 3px;
}

body.dark {
  --color-header: #191e2b;
  --color-background: #30343f;
  --color-panel: #252935;
  --color-boton-default: #393e49;
  --color-boton-default-hover: #4e5565;
  --color-text: #ffffff;
  --font-primary: 'Open Sans', sans-serif;
  --border-radius: 3px;
}

.header {
  background-color: var(--color-header);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.header-title {
  color: #424242;
  font-size: 24px;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #222;
  color: #fff;
  width: 100%;
  height: 100%;
}

.panel-close {
  position: fixed;
  top: 15px;
  right: 15px;
}

.ocultar {
  display: none;
}
